.exotic-scheme-1{
    padding: 10px;
    border-radius: 5px;
    color: #000;
    background-color: #f5f5b6;
    text-align: justify;

}

.exotic-scheme-2{
    padding: 10px;
    border-radius: 5px;
    color: #000;
    background-color: #b1deff;
    text-align: justify;
}